<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header text-center" style="text-align:center;width:100%;">
         
        <h2 style="color:red"><strong>Smart Traffic System</strong></h2>
      </div>
     
     
    </div>
  </nav>
<div style="width:80%;margin: auto;">
   
<!-- <h4>Smart Traffic Management</h4> -->
<form class="form-horizontal">
  <div class="form-group" *ngFor="let request of requesttypedata;let i = index">
    <label class="control-label col-sm-2" style="text-align:left;" for="days">Day {{i+1}}</label>
    <div class="col-sm-10">
      <input type="days" class="form-control" id="days{i}" name="days{i}" placeholder="Day {{i+1}}" [(ngModel)]="cars">
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-2">
      <button type="button" class="btn btn-default" (click)="addMore();">Add</button>
    </div>
    <div class="col-sm-4">
      <input type="file" name="file" id="file" accept=".csv" (change)="filesGet();">
    </div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-default" (click)="addFiles();" [disabled]="!(csvfiles && csvfiles.length>0)">Add Files</button>
        <button type="button" class="btn btn-default" (click)="updateTimerFromServer();">Update Times</button>
    </div>
  </div>
</form>
<!-- <button (click)="moveH()">Move H</button>
<button (click)="moveV()">Move V</button> -->
<!-- background-image: url("paper.gif"); -->
<div id="canvas">
    <div style="width:100%;height:600px;overflow:hidden;">
        <div id="vertical" class="pull-left" style='margin-left:450px;height:100%;width:150px;background-image:url("./assets/images/imagesv.jpg");background-size: 150px 150px;'>
          <!-- <div class="light veritical-top green"></div> -->
          <!-- <div class="light veritical-bottom text-center" [ngClass]="{'green':verticalLight==0,'red':verticalLight>0}"><span class="timer">{{horizonalLight || verticalLight}}</span></div> -->
         
        </div>
        <div id="horizontal" style='position: relative;top: calc(50% - 75px);;background-image:url("./assets/images/images.jpg");background-size: 150px 164px;'>
          <div class="light horizontal text-center" [ngClass]="{'green':verticalLight==0,'red':verticalLight>0}" >
             <div class="timer" style="position:absolute;z-index:6000;width:80px;">{{horizonalLight || verticalLight}}</div> 
            <!-- <i class="fa fa-bicycle vch" id="vch1" aria-hidden="true"></i> -->
            
          </div>
          <div class="light horizontal next text-center" [ngClass]="{'green':horizonalLight==0,'red':horizonalLight>0}">
              <div class="timer" style="position:absolute;z-index:6000;width:80px;">{{horizonalLight || verticalLight}}</div> 
             <!-- <i class="fa fa-bicycle vch" id="vch1" aria-hidden="true"></i> -->
             
           </div>
          <i class="fa fa-ambulance vch up" style="-webkit-transform: rotate(180deg);" [style.color]="vehicle.color" [style.left]="vehicle.left+'px'" [style.top]="vehicle.top+'px'" id="vch2" aria-hidden="true" *ngFor="let vehicle of vVer"></i>
          <i class="fa fa-ambulance vch down" [style.color]="vehicle.color" [style.left]="vehicle.left+'px'" [style.top]="vehicle.top+'px'" id="vch2" aria-hidden="true" *ngFor="let vehicle of vHor"></i>
        </div>
      </div>
</div>
<div id="table">
    <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Light A</th>
            <th>Light B</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of predictions">
            <td>{{item.lightA}}</td>
            <td>{{item.lightB}}</td>
            <td>{{item.date}}</td>
          </tr>
          
        </tbody>
      </table>
</div>

</div>
